.pictures__list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(3, minmax(100px, 282px));
  width: 100%;

  gap: 20px 17px;

  list-style-type: none;
}

@media (max-width: 1024px) {
  .pictures__list {
    grid-template-columns: repeat(2, minmax(100px, 282px));
  }
}

@media (max-width: 768px) {
  .pictures__list {
    grid-template-columns: repeat(1, minmax(100px, 282px));
  }
}
