.footer {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 67px;
  padding-bottom: 60px;
}

@media (max-width: 1024px) {
  .footer {
    max-width: 581px;
  }
}

@media (max-width: 768px) {
  .footer {
    max-width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
