.popup-login__title {
    max-width: 358px;
    min-height: 29px;
    margin: 0 auto 20px;

    color: #FFFFFF;
  
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}